@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background:url(./7d42cb9d-c0ce-42ad-b0f2-02277293f5a3.jpg);
  background-size: 99%;
  font-family: Arial, Helvetica, 'sans-serif', 'jersey 10';
  margin-left: 24px;
  background-repeat: inherit;
  scroll-behavior:initial;
}

